USE [DB_Agronomi]
GO
/****** Object:  Table [dbo].[tbl_Districts]    Script Date: 26/6/2024 23:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Districts](
	[code] [int] NOT NULL,
	[city] [smallint] NOT NULL,
	[districtName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Districts] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_Districts] ([code], [city], [districtName]) VALUES (10101, 101, N'Carmen')
INSERT [dbo].[tbl_Districts] ([code], [city], [districtName]) VALUES (10102, 101, N'Merced')
INSERT [dbo].[tbl_Districts] ([code], [city], [districtName]) VALUES (10103, 101, N'Hospital')
GO
