USE [DB_Agronomi]
GO
/****** Object:  Table [dbo].[tbl_City]    Script Date: 26/6/2024 23:32:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_City](
	[code] [int] NOT NULL,
	[province] [int] NOT NULL,
	[cityName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tbl_City] ([code], [province], [cityName]) VALUES (101, 1, N'San José')
INSERT [dbo].[tbl_City] ([code], [province], [cityName]) VALUES (102, 1, N'Escazú')
INSERT [dbo].[tbl_City] ([code], [province], [cityName]) VALUES (103, 1, N'Desamparados')
